:root {
  --Dark-Blue: hsl(217, 28%, 15%); /* (intro and email sign up background) */
  --Dark-Blue-main-bg: hsl(218, 28%, 13%);
  --Dark-Blue-footer-bg: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials: hsl(219, 30%, 18%); /* (testimonials background)*/
  --Cyan: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
  --Blue: hsl(198, 60%, 50%); /* (inside call-to-action gradient)*/
  --Light-Red: hsl(0, 100%, 63%); /* (error)*/
  --White: hsl(0, 0%, 100%);

  --font-size: 0.875rem;
  --ff-accent: "Raleway", sans-serif; /* Headings, Call-to-actions, Header Navigation */
  --ff-body: "Open Sans", sans-serif;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--White);
}

ul {
  list-style: none;
}

/* BODY STYLING */
body {
  color: var(--White);
  font-family: var(--ff-body);
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-Blue-main-bg);
}

header,
h1,
h2,
h3,
button,
input {
  font-family: var(--ff-accent);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

button {
  cursor: pointer;
}

.get-started-btn {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: var(--White);
  border-radius: 2rem;
  font-weight: 700;
  width: 250px;
  height: 60px;
  border: none;
}

.get-started-btn:hover {
  background: var(--Cyan);
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background-color: var(--Dark-Blue);
}

.primary-nav ul {
  display: flex;
  gap: 2rem;
}

.primary-nav a:hover {
  text-decoration: underline;
  font-weight: 700;
}

section {
  display: flex;
}

/* FIRST SECTION STYLING */

.first-section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 23rem;
  gap: 2rem;
  background: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--Dark-Blue);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
}

.first-section p {
  line-height: 1.5;
  font-size: 1.4rem;
}

/* SECOND SECTION STYLING */

.second-section {
  flex-direction: column;
  gap: 4rem;
  font-size: var(--font-size);
  padding: 0 15rem;
}

.top-row,
.bottom-row {
  display: flex;
  gap: 9rem;
}

.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

.row-item p {
  text-align: center;
  line-height: 1.5;
}

/* THIRD SECTION STYLING */

.third-section {
  gap: 3rem;
  padding: 0 4.5rem;
}

.right-column h2 {
  font-size: 2.2rem;
  padding-right: 10rem;
  line-height: 1.5;
}

.right-column p {
  line-height: 1.5;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  border-bottom: 1px solid var(--Cyan);
  width: 170px;
  padding-bottom: 0.3rem;
  font-size: 1rem;
}

.link a {
  color: var(--Cyan);
}

.link:hover,
.link:hover a {
  border-color: var(--White);
  color: var(--White);
}

.arrow {
  height: 16px;
  aspect-ratio: 1;
  background: url(images/icon-arrow.svg);
}

.link:hover .arrow {
  background: url(images/icon-arrow-white.svg);
}

/* TESTIMONIALS STYLING */

.testimonials {
  gap: 2.5rem;
  padding: 0 4.5rem;
  position: relative;
}

.review {
  background-color: var(--Dark-Blue-testimonials);
  padding: 1.5rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(32, 42, 60, 0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(32, 42, 60, 0.24);
  box-shadow: 10px 10px 5px 0px rgba(32, 42, 60, 0.24);
}

.review p {
  font-size: 1rem;
  line-height: 1.5;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.author {
  font-size: var(--font-size);
  font-weight: 700;
  letter-spacing: 1px;
}

.position {
  font-size: 0.7rem;
}

.author-box img {
  height: 35px;
  border-radius: 50%;
}

.quotes {
  height: 90px;
  position: absolute;
  z-index: -1;
  left: 66px;
  top: -35px;
}
/* SIGN UP STYLING */

.sign-up {
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-Blue);
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 4rem;
  gap: 2rem;
  margin-top: 6rem;
  margin-bottom: -7rem;
  z-index: 1;
  border-radius: 0.3rem;
  -webkit-box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.18);
}

.sign-up h2 {
  font-size: 2rem;
}

.sign-up p {
  text-align: center;
  font-size: var(--font-size);
  padding: 0 1.5rem;
}

#form {
  width: 100%;
  display: flex;
  gap: 2rem;
}

input {
  width: 500px;
  border-radius: 2rem;
  border: none;
  padding: 0 2rem;
  outline: none;
  font-weight: 700;
}

input::placeholder {
  opacity: 0.7;
}

#error {
  color: var(--Light-Red);
  font-size: 0.7rem;
  align-self: flex-start;
  margin-top: -1.5rem;
  margin-left: 2rem;
  display: none;
}

#error.visible {
  display: flex;
}

/* FOOTER STYLING */

footer {
  padding: 10rem 5rem 1rem;
  background-color: var(--Dark-Blue-footer-bg);
}

.footer-content {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  font-size: 1rem;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  line-height: 1.5;
  width: 370px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: var(--font-size);
}

.footer-nav {
  display: flex;
  gap: 5rem;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-nav a:hover {
  font-weight: 700;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials i {
  border: 1px solid var(--White);
  height: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.socials i:hover {
  color: var(--Cyan);
  border-color: var(--Cyan);
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

/* RESPONSIVE */

/* MIN WIDTH 1440PX */

@media (min-width: 1440px) {
  body {
    align-items: center;
  }

  .container,
  header {
    width: 1440px;
  }
}

/* MAX WIDTH 1110PX  */

@media (max-width: 1110px) {
  .first-section {
    padding: 0 11rem;
  }
  .second-section {
    padding: 0 8rem;
  }
  .third-section {
    flex-direction: column;
  }

  .footer-content {
    gap: 3rem;
  }

  .footer-nav {
    gap: 2rem;
  }
}

/* MAX WIDTH 820PX  */

@media (max-width: 820px) {
  header {
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
  }

  header img {
    width: 100px;
  }

  .primary-nav ul {
    gap: 1rem;
  }

  .first-section,
  .second-section,
  .third-section,
  .testimonials {
    padding: 0 2rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  .first-section p {
    font-size: 0.86rem;
  }

  .top-row,
  .bottom-row {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .right-column h2 {
    font-size: 1rem;
    padding: 0;
  }

  .right-column p {
    font-size: 0.8rem;
  }

  .link {
    width: 140px;
    font-size: 0.8rem;
  }

  .testimonials,
  .footer-nav {
    flex-direction: column;
  }

  .review p {
    font-size: 0.67rem;
    line-height: 1.9;
  }

  .author {
    font-size: 0.67rem;
  }

  .position {
    font-size: 0.55rem;
  }

  .quotes {
    left: 39px;
    top: -25px;
  }

  .quotes img {
    height: 30px;
  }

  .sign-up {
    margin-inline: 1.5rem;
    padding: 3rem 1.5rem;
  }

  .sign-up h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  .sign-up p {
    padding: 0;
    font-size: 0.8rem;
  }

  #form {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 100%;
    height: 55px;
  }

  #form .get-started-btn {
    width: 100%;
  }

  footer {
    padding: 10rem 2rem 1rem;
  }
  .footer-content {
    flex-direction: column;
    margin-top: 3rem;
  }

  .location {
    width: 100%;
    font-size: 0.9rem;
  }

  .contact {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }

  .socials {
    justify-content: center;
  }
}
